@layer theme;

@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);

@theme {
  --color-text: #333333;
  --color-text-grey: #828282;
  --color-background-main: #f5f5f5;
  --color-background-white: #ffffff;
  --color-background-light-grey: #fafafa;
  --color-background-dark-grey: #5c5c5c;
  --color-background-light-blue: #f0f5ff;
  --color-border: #e0e0e0;
  --color-border-hover: #adadad;
  --color-border-blue: #3362ab;
  --color-button: #009900;
  --color-button-hover: #018501;
  --color-error: #d92323;

  --radius-input: 6px;
  --radius-button: 4px;

  --text-small: 12px;
  --text-main: 14px;
  --text-large: 24px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --leading-small: 16px;
  --leading-normal: 20px;
  --leading-button: 24px;
  --leading-large: 32px;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-4: 24px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: var(--text-main);
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-normal);
  letter-spacing: normal;
  background-color: var(--color-background-main);
  color: var(--color-text);
}
